# Example. Generate the real one from your AWS .ovpn:
#   ./scripts/make-vpn-conf.sh <downloaded.ovpn> config/vpn.conf
# It is your AWS Client VPN profile minus: remote, remote-random-hostname,
# auth-federate, auth-user-pass, auth-retry, inactive.
client
dev tun
proto udp
resolv-retry infinite
nobind
remote-cert-tls server
cipher AES-256-GCM
verb 3
<ca>
-----BEGIN CERTIFICATE-----
... your AWS Client VPN CA chain here ...
-----END CERTIFICATE-----
</ca>
auth-nocache
reneg-sec 0
verify-x509-name aws-clientvpn name
